* {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

/* just to be sure these are full screen*/
html, body {
  width:100%;
  height:100%;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
}

canvas { display:block; } /* To remove the scrollbars */

main {
  min-height: 40vh;
}

.collapsible {
  display: none;
}

.is-not-collapsed {
  display: block;
}

